# This file contains common pin mappings for the BigTreeTech SKR 3.
# To use this config, the firmware should be compiled for the
# STM32H743 with a "128KiB bootloader".

# See docs/Config_Reference.md for a description of parameters.

[include mainsail.cfg]
[include steppers.cfg]
[include level.cfg]
[include fans.cfg]
[include timelapse.cfg]
[include led.cfg]
[include macros.cfg]
[include KAMP_Settings.cfg]
#[include resonance.cfg]
[include moonraker_obico_macros.cfg]

[heater_bed]
heater_pin: BED
sensor_type: EPCOS 100K B57560G104F
sensor_pin: TB
control: pid
min_temp: 0
max_temp: 150
pid_Kp: 69.634 
pid_Ki: 1.498
pid_Kd: 809.499

[mcu]
serial: /dev/serial/by-id/usb-Klipper_stm32h723xx_18003E001251323433323831-if00

[printer]
kinematics: cartesian
max_velocity: 300
max_accel: 5500
max_z_velocity: 5
max_z_accel: 100

[extruder]
nozzle_diameter: 0.400
filament_diameter: 1.750
control: pid
# old Kp: 32.083 Ki: 1.962 Kd: 131.139
# 235 - PID parameters: pid_Kp=31.176 pid_Ki=31.176 pid_Kd=116.910
pid_Kp: 32.083 
pid_Ki: 1.962 
pid_Kd: 131.139
min_temp: 0
max_temp: 290
max_extrude_cross_section: 5
# full_steps_per_rotation: 136.3

[bltouch]
#z_offset: 2.340

########################################
# EXP1 / EXP2 (display) pins
########################################

[board_pins]
aliases:
    # EXP1 header
    EXP1_1=PC5, EXP1_3=PB1, EXP1_5=PE9,  EXP1_7=PE11, EXP1_9=<GND>,
    EXP1_2=PB0, EXP1_4=PE8, EXP1_6=PE10, EXP1_8=PE12, EXP1_10=<5V>,
    # EXP2 header
    EXP2_1=PA6, EXP2_3=PE7, EXP2_5=PB2, EXP2_7=PC4,   EXP2_9=<GND>,
    EXP2_2=PA5, EXP2_4=PA4, EXP2_6=PA7, EXP2_8=<RST>, EXP2_10=<NC>,
    #   Steppers
    X_EN=PD6, X_STEP=PD4, X_DIR=PD3, X_UART=PD5,
    Y_EN=PD1, Y_STEP=PA15, Y_DIR=PA8, Y_UART=PD0,
    Z_EN=PE0, Z_STEP=PE2, Z_DIR=PE3, Z_UART=PE1,
    E0_EN=PC7, E0_STEP=PD15, E0_DIR=PD14, E0_UART=PC6,
    E1_EN=PD13, E1_STEP=PD11, E1_DIR=PD10, E1_UART=PD12,
    # Heaters and Sensors
    BED=PD7, HE0=PB3, TB=PA1, TH0=PA2, TH1=PA3,
    PROBE_SENSOR=PC13, PROBE_SERVO=PE5,
    # PWM Fans
    FAN0=PB7, FAN1=PB6, FAN2=PB5,
    # Misc
    RGB=PE6, E0FILDET=PC2,E1FILDET=PA0
    
    
    
    # See the sample-lcd.cfg file for definitions of common LCD displays.
    
[filament_switch_sensor btt_filament_runout] 
switch_pin: ^E0FILDET
pause_on_runout: False 
runout_gcode: 
    PAUSE # [pause_resume] is required in printer.cfg
    M117 Filament switch runout
insert_gcode: M117 Filament switch inserted

[filament_motion_sensor btt_filament_motion]
switch_pin: ^E1FILDET 
detection_length: 5 # accuracy of motion sensor 2.88mm 
extruder: extruder 
pause_on_runout: False 
runout_gcode: 
    PAUSE # [pause_resume] is required in printer.cfg
    M117 Filament encoder runout
insert_gcode: M117 Filament encoder inserted
#event_delay:
#pause_delay:
#   See the "filament_switch_sensor" section for a description of the
#   above parameters.

[delayed_gcode DISABLEFILAMENTSENSOR]
initial_duration: 1
gcode:
    SET_FILAMENT_SENSOR SENSOR=btt_filament_runout ENABLE=0
    SET_FILAMENT_SENSOR SENSOR=btt_filament_motion ENABLE=0
    
[firmware_retraction]
retract_length: 0.5
#   The length of filament (in mm) to retract when G10 is activated,
#   and to unretract when G11 is activated (but see
#   unretract_extra_length below). The default is 0 mm.
retract_speed: 30
#   The speed of retraction, in mm/s. The default is 20 mm/s.
#unretract_extra_length: 0
#   The length (in mm) of *additional* filament to add when
#   unretracting.
unretract_speed: 30
#   The speed of unretraction, in mm/s. The default is 10 mm/s.

[gcode_arcs]
#resolution: 1.0
#   An arc will be split into segments. Each segment's length will
#   equal the resolution in mm set above. Lower values will produce a
#   finer arc, but also more work for your machine. Arcs smaller than
#   the configured value will become straight lines. The default is
#   1mm.

[exclude_object]

[pause_resume]

[display_status]

[virtual_sdcard]
path: ~/printer_data/gcodes
on_error_gcode: CANCEL_PRINT

[input_shaper]
shaper_type_y: ei
shaper_freq_y: 54.6

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [bed_mesh 50C]
#*# version = 1
#*# points =
#*# 	-0.097500, -0.030000, -0.050000, -0.062500, -0.032500, -0.092500, -0.027500
#*# 	-0.142500, -0.065000, -0.057500, -0.107500, -0.052500, -0.105000, -0.025000
#*# 	-0.142500, -0.017500, -0.010000, -0.050000, -0.005000, -0.075000, -0.005000
#*# 	-0.130000, -0.057500, -0.050000, -0.067500, -0.027500, -0.072500, -0.002500
#*# 	-0.127500, -0.022500, -0.020000, -0.055000, 0.000000, -0.062500, 0.007500
#*# 	-0.132500, -0.057500, -0.082500, -0.077500, -0.067500, -0.127500, -0.045000
#*# 	-0.125000, -0.027500, -0.042500, -0.087500, -0.045000, -0.115000, -0.062500
#*# min_x = 20.0
#*# max_x = 189.98
#*# min_y = 40.0
#*# max_y = 209.97999999999996
#*# x_count = 7
#*# y_count = 7
#*# mesh_x_pps = 2
#*# mesh_y_pps = 2
#*# algo = bicubic
#*# tension = 0.2
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	-0.071250, -0.020000, 0.010000, -0.053750, -0.023750, -0.033750, -0.087500, -0.030000
#*# 	-0.106250, -0.060000, -0.043750, -0.103750, -0.055000, -0.067500, -0.115000, -0.028750
#*# 	-0.118750, -0.038750, 0.006250, -0.051250, -0.040000, -0.023750, -0.077500, -0.011250
#*# 	-0.088750, -0.046250, -0.012500, -0.065000, -0.026250, -0.035000, -0.081250, -0.008750
#*# 	-0.090000, -0.035000, 0.017500, -0.036250, 0.002500, 0.005000, -0.057500, 0.001250
#*# 	-0.106250, -0.075000, -0.032500, -0.078750, -0.042500, -0.041250, -0.101250, -0.031250
#*# 	-0.097500, -0.042500, 0.013750, -0.052500, -0.043750, -0.031250, -0.101250, -0.047500
#*# 	-0.087500, -0.052500, -0.033750, -0.100000, -0.063750, -0.075000, -0.128750, -0.058750
#*# x_count = 8
#*# y_count = 8
#*# mesh_x_pps = 2
#*# mesh_y_pps = 2
#*# algo = bicubic
#*# tension = 0.2
#*# min_x = 20.0
#*# max_x = 189.96
#*# min_y = 40.0
#*# max_y = 209.96
#*#
#*# [bed_mesh 70C]
#*# version = 1
#*# points =
#*# 	-0.101250, -0.053750, 0.001250, -0.060000, -0.037500, -0.030000, -0.095000, -0.050000
#*# 	-0.113750, -0.072500, -0.038750, -0.103750, -0.050000, -0.052500, -0.112500, -0.038750
#*# 	-0.117500, -0.046250, 0.021250, -0.032500, -0.032500, -0.003750, -0.056250, -0.012500
#*# 	-0.083750, -0.040000, 0.006250, -0.040000, -0.016250, -0.011250, -0.058750, 0.001250
#*# 	-0.085000, -0.030000, 0.040000, -0.006250, 0.020000, 0.036250, -0.027500, 0.023750
#*# 	-0.093750, -0.065000, -0.003750, -0.041250, -0.018750, -0.013750, -0.070000, -0.013750
#*# 	-0.091250, -0.037500, 0.038750, -0.018750, -0.018750, -0.001250, -0.065000, -0.026250
#*# 	-0.093750, -0.051250, -0.017500, -0.071250, -0.045000, -0.052500, -0.101250, -0.046250
#*# x_count = 8
#*# y_count = 8
#*# mesh_x_pps = 2
#*# mesh_y_pps = 2
#*# algo = bicubic
#*# tension = 0.2
#*# min_x = 20.0
#*# max_x = 189.96
#*# min_y = 40.0
#*# max_y = 209.96
#*#
#*# [input_shaper]
#*# shaper_type_x = zv
#*# shaper_freq_x = 42.4
#*#
#*# [bltouch]
#*# z_offset = 2.340
